@import 'compass/css3';

$dark: #32373d;
$light: #E9EBED;

$default-spacing: 2rem;

html, body{
	width: 100%;
	margin: 0;
	padding: 0;
	
	font-family: Cabin, Helvetica;
	font-size: 62.5%;		// for rem
	
	background-color: $light;
}

.lightbox-control{
	width: 100%;
	background-color: $dark;
	@include flexbox((
    display: flex,
    flex-direction: row,
		justify-content: center
  ));
	
	#lightbox-back, #lightbox-next{
		margin: $default-spacing;
		background-color: $dark;
		border: 0;
		color: white;
		font-size: 2rem;
	}	
}

#lightbox-selected{
	width: 100%;
	margin: 0;
	padding-top: 2*$default-spacing;
	padding-bottom: 3*$default-spacing;
	background-color: $dark;
	
	.caption{
		display: block;
	}
}

.photo{
	width: 100%;
	max-width: 50rem;
	height: 100%;
	display:block;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.caption{
	display: none;
	font-size: 5rem;
	text-align: center;
	color: white;
}

#gallery{
	margin: 2*$default-spacing;
	@include flexbox((
    display: flex,
    flex-direction: row,
		flex-wrap: wrap,
		flex-flow: center,
		align-items: center,
		justify-content: center
  ));
	
	.entry{
		width: 20rem;
		margin: $default-spacing;
		opacity: 1;
		@include transition(opacity, .3s);
		&:hover{
			opacity: .6;
		}
	}
}